{% extends 'base_generic.html' %}

{% block head_scripts %}
    {% load static %}
    <script src="{% static 'assets/scripts.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>All Games</h1>
    <style>
        th {
          white-space: nowrap;
        }
      </style>
    <table id="games-table">
        <tr>
            <th onclick="sortTable(0,'text')">Title<i class="fa fa-filter"></i></th>
            <th>Release Date</th>
            <th>Summary</th>
            <th onclick="sortTable(3, 'text')">Publishers<i class="fa fa-filter"></i></th>
            <th onclick="sortTable(4, 'text')">Developers<i class="fa fa-filter"></i></th>
            <th>Platforms</th>
            <th>Genres</th>
            <th>Average Rating</th>
        </tr>
        {% for game in games %}
            <tr>
                <td>{{ game.title }}</td>
                <td>{{ game.release_date }}</td>
                <td>{{ game.summary }}</td>
                <td>
                    {% for publisher in game.publishers.all %}
                        {{ publisher.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for developer in game.developers.all %}
                        {{ developer.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for platform in game.platforms.all %}
                        {{ platform.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>     
                <td>
                    {% for genre in game.genres.all %}
                        {{ genre.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if game.average_rating %}
                        {{ game.average_rating|floatformat:2}}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if games.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ games.previous_page_number }}">&lsaquo; previous</a>
            {% endif %}
    
            <span class="current-page">
                Page {{ games.number }} of {{ games.paginator.num_pages }}.
            </span>
    
            {% if games.has_next %}
                <a href="?page={{ games.next_page_number }}">next &rsaquo;</a>
                <a href="?page={{ games.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}